[submodule "frontend"]
	path = frontend
	url = git@github.com:livingbooks/frontend.git
[submodule "scripts"]
	path = scripts
	url = git@github.com:livingbooks/scripts.git
[submodule "matick-backend"]
	path = matick-backend
	url = git@github.com:podtools-mfm/matick-backend.git
